<table class="table_week">
	<tr class="table_title">
		<td></td>
		<td>Proyecto</td>
		<td>Actividad</td>
		<td>Lunes <%= @days[0].day %></td>
		<td>Martes <%= @days[1].day %></td>
		<td>Miercoles <%= @days[2].day %></td>
		<td>Jueves <%= @days[3].day %></td>
		<td>Viernes <%= @days[4].day %></td>
	</tr>
	<% if @activities.blank? %>
	<tr>
		<td class="no_tasks" colspan=8>
			No existen tareas para estas fechas.
		</td>
	</tr>
	<% else %>
		<% @totals = [0, 0, 0, 0, 0] %>
		<% for activity in @activities %>
			<tr>
				<% if (@validated.nil? or @validated.validated == 0) and (@user_logged.id == user) %>
					<td><%= check_box_tag "tasks[#{activity.id}]", "1" %></td>
				<% else %>
					<td></td>
				<% end %>
				<td><%= activity.project.name %></td>
				<td><%= activity.name %></td>
				<% for z in (0..4)%>
					<% @task = Task.find(:first, :conditions => {:user_id => user,	
										:activity_id => activity.id,
										:date =>  @current_date.monday + z})
					%>
					<td>
						<% if !@task.nil? %>
							<%= @task.hours	%>
							<% @totals[z] += @task.hours %>
						<% end %>
					</td>
				<% end %>
				<% if (@validated.nil? or @validated.validated == 0) and @user_logged.id == user %>
					<td>
						<%= link_to_remote image_tag('/images/edit.gif'), :update => "table_tasks", 
															:url => {:action => :edit,
                                                            :current_date => @current_date,
															:activity => activity.id}
						%>
					</td>
					<td>
                        <%= link_to image_tag('/images/delete.gif'), {:controller => :tasks,
                                                            :day => @current_date.day,
                                                            :month => @current_date.month,
                                                            :year => @current_date.year,
                                                            :action => :delete,
															:activity => activity.id},
                                                            :method => :delete,
															:confirm => "¿Está seguro de querer eliminar la tarea?"
						%>
					</td>
				<% end %>
			</tr>
		<% end %>
			<tr class="total">
				<% if (@validated.nil? or @validated.validated == 0) and @user_logged.id == user %>
					<td class="arrow">
						<%= image_tag ('/images/arrow.png')%>
					</td>
					<td class="delete">
						<%= image_submit_tag '/images/delete.gif', 
								:onclick => "return confirm('Esta seguro de querer eliminar las tareas?')"%>
					</td>
				<% else %>
					<td></td>
					<td></td>														
				<% end %>
				<td></td>
				<% for z in (0..4) %>
					<td class="total2"><%= @totals[z] %></td>
				<% end %>
				<td class = "total3">
					<%= sum_total(@totals)%>
				<td>
			</tr>
	<% end %>
</table>
<% if (@validated.nil? or @validated.validated == 0) and (controller.action_name == "show") %>
	<p class="hide_view center">
		<%= link_to "Validar", {:day => @current_date.day,
                                :month => @current_date.month,
                                :year => @current_date.year,
                                :action => :validate}, :confirm => "¿Está seguro de querer validar esta semana?" %>
	</p>
<% elsif (@validated.nil? or @validated.validated == 0) %>
	<p class= "hide_view center2">
		La semana aún no está validada.
	</p>
<% elsif  !@validated.nil? and @validated.validated != 0 %>
	<div id="image_link">
		<%= link_to image_tag("pdf.jpg"), {:day => @current_date.day,
                                           :month => @current_date.month,
                                           :year => @current_date.year,
                                           :action => :pdf}
		%>
	</div>
<% end %>