<div id="hide_form" class="mod_all mod_ter">

    <% form_tag({:action => "create"}, :id => 'task') do %>
        <% if @validated.nil? or @validated.validated == 0 %>
            <table class="table_week">
                <tr class="table_title">
                    <td>Proyecto</td>
                    <td>Actividad</td>
                    <td>Lunes <%= @days[0].day %></td>
                    <td>Martes <%= @days[1].day %></td>
                    <td>Miercoles <%= @days[2].day %></td>
                    <td>Jueves <%= @days[3].day %></td>
                    <td>Viernes <%= @days[4].day %></td>
                </tr>
                <tr>
                    <td><%= @activity.project.name %></td>
                    <td><%= @activity.name %></td>
                    <% session[:current_act] = @activity.id %>

                    <% for y in (0..4)%>
                        <% @task = Task.find(:first, :conditions => {:user_id => session[:user_id],
                                                    :activity_id => @activity.id,
                                                    :date =>  @current_date.monday + y})
                        %>
                        <% @param = "hours_tag_" + y.to_s  %>
                        <td>
                            <% if @task.nil? %>
                                <%= text_field_tag @param, nil,:size => "4"%>
                            <% else %>
                                <%= text_field_tag @param, @task.hours, :size => "4"%>
                            <% end %>
                        </td>
                    <% end %>
                    <%= hidden_field_tag :activity, @activity.id %>
                    <%= hidden_field_tag :current_date, @current_date %>
                    <td colspan=2>
                        <%= submit_tag "Guardar" %>
                    </td>
                </tr>
            </table>
        <% else %>
            <p>
                La semana está cerrada
            </p>
        <% end %>
    <% end %>
</div>
<% form_tag(:action => :delete_all_tasks) do %>
	<%= render :partial => 'table_tasks', :locals => {:user => @user_logged.id} %>
<% end %>
