<% content_for (:activity_nav) do %>
	<ul>
			<li><%= link_to 'Lista', :action => 'index'%></li>
			<li><%= link_to 'Nueva incidencia', :action => 'new'%></li>
			<li class="selected"><%= link_to 'Historial', :action => 'all_records' %></li>
	</ul>
<% end %>


<% if @historial.blank? %>
	<h1>El historial para las incidencias está vacio.</h1>
<% else %>
		<table  class="records">
			<tr class="table_title2">
				<th>Fecha</th>
				<th>Operacion</th>
				<th>Incidencia</th>
				<th>Usuario</th>
			</tr>
			<% for record in @historial %>
				<tr class="table_title">
					<td class="date_label">
						<%= record.created_at.to_date %> <%= record.created_at.to_s(:only_time) %>
					</td>
					<td><%= record.text1 %></td>
					<td><%= link_to record.incidence_id, Incidence.find(record.incidence_id) %></td>
					<td><%= User.find(record.user_id).name %></td>
				</tr>
				<% if !record.text2.nil? %>
					<tr>
						<td  class="text3" colspan = 3>
							<%= record.text2 %>
						</td>
					</tr>
				<% end %>
				<tr>
					<td colspan = 4>
					<ul>
						<% @attachment = Attachment.find(:all, :conditions => {:record_id => record.id}) %>
						<% for x in @attachment %>
							<li class="attachment2"> <%= link_to_file x.name_file_name, x.name.url %> </li>
						<% end %>
					</ul>
					</td>
				</tr>
			<% end %>
		</table>
		<%= will_paginate @historial %>
<% end %>
