<table class="table_week">
	<tr class="table_title">
		<td></td>
		<td>Proyecto</td>
		<td>Actividad</td>
		<td>Lunes <%= @days[0]%></td>
		<td>Martes <%= @days[1]%></td>
		<td>Miercoles <%= @days[2]%></td>
		<td>Jueves <%= @days[3]%></td>
		<td>Viernes <%= @days[4]%></td>
	</tr>
	<% if @activities.blank? %>
	<tr>
		<td class="no_tasks" colspan=8>
			No existen tareas para estas fechas.
		</td>
	</tr>
	<% else %>
		<% @totals = [0, 0, 0, 0, 0] %>
		<% for x in (0..@activities.length - 1) %>
			<tr>
				<% @unit_activity = Activity.find(@activities[x].to_i) %>
				<% if (@validated.nil? or @validated.validated == 0) and (session[:user_id] == user) %>
					<td><%= check_box_tag "tasks[#{@unit_activity.id}]", "1" %></td>
				<% else %>
					<td></td>
				<% end %>
				<td><%= Project.find(@unit_activity.project_id).name %></td>
				<td><%= @unit_activity.name %></td>
				<% for z in (0..4)%>
					<% @task = Task.find(:first, :conditions => {:user_id => user,	
										:activity_id => @unit_activity.id,
										:date =>  session[:current_date].to_date.monday + z})
					%>
					<td>
						<% if !@task.nil? %>
							<%= @task.hours	%>
							<% @totals[z] += @task.hours %>
						<% end %>
					</td>
				<% end %>
				<% if (@validated.nil? or @validated.validated == 0) and (session[:user_id] == user) %>
					<td>
						<%= link_to_remote image_tag('/images/edit.gif'), :update => "table_tasks", 
															:url => {:action => :modify_table_tasks, 
															:id => "remote_function",
															:activity => @unit_activity.id } 
						%>
					</td>
					<td>
						<%= link_to image_tag('/images/delete.gif'), {:action => :delete_tasks, 
															:id => @unit_activity.id},
															:confirm => "¿Está seguro de querer eliminar las tareas?"
						%>
					</td>
				<% end %>
			</tr>
		<% end %>
			<tr class="total">
				<% if (@validated.nil? or @validated.validated == 0) and (session[:user_id] == user) %>
					<td class="arrow">
						<%= image_tag ('/images/arrow.png')%>
					</td>
					<td class="delete">
						<%= image_submit_tag '/images/delete.gif', 
								:onclick => "return confirm('Esta seguro de querer eliminar las tareas?')"%>
					</td>
				<% else %>
					<td></td>
					<td></td>														
				<% end %>
				<td></td>
				<% for z in (0..4) %>
					<td class="total2"><%= @totals[z] %></td>
				<% end %>
				<td class = "total3">
					<%= sum_total(@totals)%>
				<td>
			</tr>
	<% end %>
</table>
<% if ((@validated.nil? or @validated.validated == 0) and ((controller.action_name == "edit_tasks") or
														  (controller.action_name == "modify_table_tasks"))) %>
	<p class="hide_view center">
		<%= link_to "Validar", {:action => :validated}, :confirm => "¿Está seguro de querer validar esta semana?" %>
	</p>
<% elsif (@validated.nil? or @validated.validated == 0) %>
	<p class= "hide_view center2">
		La semana aún no está validada.
	</p>
<% elsif  !@validated.nil? and @validated.validated != 0 %>
	<div id="image_link">
		<%= link_to ( 	image_tag("pdf.jpg"), 
						:action => "pdf_tasks", 
						:id => user, 
						:date => session[:current_date].to_date.monday )
		%>
	</div>
<% end %>