<% content_for (:activity_nav) do %>
	<ul>
			<li class="selected"><%= link_to 'Usuarios', users_path %></li>
			<li><%= link_to 'Proyectos', projects_path %></li>
			<li><%= link_to 'Actividades', activities_path %></li>
	</ul>
<% end %>

<% if params[:search].blank? %>
	<h2>Hay un total de <%= pluralize(@users.length, 'usuario') %> en sus proyectos. </h2>
<% else %>
	<h2>La búsqueda ha encontrado un total de <%= pluralize(@users.length, 'usuario') %></h2>
<% end %>
<% form_tag users_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Buscar", :name => nil %>
	</p>
<% end %>
<ul class="users_list">
	<% for user in @users %>
		<li>
			<label>
				<%= link_to user.long_name, :action => 'show', :id => user.id %>
				<br/>
				<% if user.has_role?('admin') %>
					<span class="help">  Administrador </span>
				<% elsif user.has_role?('super_user') %>
					<span class="help">  Jefe de proyecto </span>
				<% else %>
					<span class="help">  Usuario </span>
				<% end %>
			</label>
			<div class="user_name">
				<%= user.name %>
			</div>
		</li>
	<% end %>
</ul>
<%= will_paginate @users %>
