<% content_for (:activity_nav) do %>
	<ul>
			<li><%= link_to 'Usuarios', :action => 'list' %></li>
			<li><%= link_to 'Proyectos', :controller => 'projects', :action => 'index' %></li>
			<li><%= link_to 'Actividades', :controller => 'activities', :action => 'index' %></li>
			<% if User.find(session[:user_id]).has_role?('admin') %>
				<li class="selected"><%= link_to 'Permisos', :controller => 'users', :action => 'permissions' %></li>
			<% end %>
	</ul>
<% end %>

<% content_for (:action_nav) do %>
	<ul>
			<li><%= link_to 'Administradores', :action => 'permissions' %></li>
			<li class="selected2"><%= link_to 'Jefes de proyecto', :action => 'permissions_jp' %></li>
	</ul>
<% end %>

<div class="top">
	<h3>Jefes de proyectos</h3>	
</div>

<ul id="users_list2">
	<% for user in @users %>
		<li>
				<label>
					<%= link_to user.long_name, :action => 'show', :id => user.id %>
					<span class="act_desc">
						<%= link_to image_tag('/images/delete.gif'), {:controller => 'users', 
																	  :action => 'delete_role',
																	  :id => user, :id2 => Role.find_by_name("super_user").id}},
																	  :confirm => '¿Está seguro?'%>
					</span>
					<div class="user_name">
						<%= user.name %>
					</div>
				</label>
		</li>
		<% end %>
	<% end %>
	<li>
		<span class="hide_view hide_view2">
			<%= link_to_function('▶Modificar', "Element.toggle('mod_super_user')") %>
		</span>
	</li>
</ul>
<div id="mod_super_user" class="mod_all mod_sec" style="display : none;">
	<% form_for :role, :url => {:action => "mod_all", :id => 2} do |f| %>
		<p class="njp">
			<label>Nuevo jefe de proyecto</label>
		</p>
		<p class="njp2">
			<% @users_3 = Array.new %>
			<% for user in User.find(:all) %>
					<% if !user.has_role2?("super_user") %>
						<% @users_3 << user %>
					<% end %>
				<% end %>
				<%= f.select :user_id,
				@users_3.collect{|user| [user.name, user.id]},
				:prompt => "Seleccione un usuario",
				:selected => nil
			%>
		</p>	
		<p class="btns">
			<%= f.submit "Añadir" %>
		</p>
	<% end %>
</div>
