<% content_for (:activity_nav) do %>
	<ul>
			<li class="selected"><%= link_to 'Usuarios', users_path %></li>
			<li><%= link_to 'Proyectos', projects_path %></li>
			<li><%= link_to 'Actividades', activities_path %></li>
	</ul>
<% end %>

<div class="top">
	<h3><%= @user.name %></h3>
</div>
<div class="course-form">
	<table class="form_setting">
		<tr>
			<th>
				<label>Nombre</label>
			</th>
			<td>
				<%= @user.long_name %>
			</td> 
		</tr>
		<tr>
			<th>
				<label>E-mail</label>
			<td>
				<%= @user.email %>
			</td>
		</tr>
	</table>
</div>
