<% content_for (:activity_nav) do %>
	<ul>
		<li><%= link_to 'Usuarios', admin_users_path %></li>
		<li class="selected"><%= link_to 'Proyectos', admin_projects_path %></li>
		<li><%= link_to 'Actividades', admin_activities_path %></li>
		<% if User.find(session[:user_id]).has_role?('admin') %>
			<li><%= link_to 'Permisos', :controller => 'admin/users', :action => 'permissions' %></li>
		<% end %>
	</ul>
<% end %>
<% if @user_logged.has_role?('admin') %>
	<% content_for (:action_nav) do %>
		<ul>
			<li><%= link_to 'Nuevo proyecto', :controller => 'projects', :action => 'new' %></li>
		</ul>	
	<% end %>
<% end %>

<% if @projects.empty? %>
	
	<h2>No existe ningun proyecto.</h2>

<% else %>
	<ul class="users_list">
		<% for project in @projects %>
		   		<li>
		   			<label>
			   			<%= link_to project.name, admin_project_path(project) %>
			   			<% if @user_logged.has_role?('admin') %>
				   			<span class="act_desc">
								<%= link_to image_tag('/images/delete.gif'), admin_project_path(project),
														:method => :delete,
														:confirm => '¿Está seguro de querer eliminar esta actividad?'
								%>
							</span>
						<% end %>
			   			<br/>
			   			<span class="help"><%= project.description %></span>
			   		</label>
			   		<div class="user_name">
			    		<%= User.find(project.user_id).name %>
			    	</div>
		   		</li>
	    <% end %>
	</ul>
	<%= will_paginate @projects %>
<% end %>
