<% content_for (:activity_nav) do %>
	<ul>
			<li><%= link_to 'Usuarios', :controller => 'users', :action => 'list' %></li>
			<li class="selected"><%= link_to 'Proyectos', :controller => 'projects', :action => 'index' %></li>
			<li><%= link_to 'Actividades', :controller => 'activities', :action => 'index' %></li>
			<% if User.find(session[:user_id]).has_role?('admin') %>
				<li><%= link_to 'Permisos', :controller => 'users', :action => 'permissions' %></li>
			<% end %>
	</ul>
<% end %>

<div class="top">
	<h3><%= @project.name %></h3>
</div>

<div class="course-form">
	<table class="form_setting">
		<tr>
			<th>
				<label>Descripcion</label>
			</th>
			<td>
				<%= @project.description %>
			</td>
		</tr>
		<tr>
			<th>
				<label>Jefe de proyecto</label>
			</th>
			<td>
				<%= @project.user.long_name %> (<%= @project.user.name %>)
			</td>
		</tr>
		<tr>
			<th>
				<label>Actividades</label>
			</th>
			<td>
				<div id="act_list">
					<ul>
						<% for acti in @project.activities %>
						<li>
								<%= link_to acti.name, :controller => 'activities', :action => 'show', :id => acti.id %>
								<span class="act_desc">
									<%= truncate(acti.description, 60)%>
								</span>
						</li>
						<% end %>
					</ul>
				</div>	
			</td>
		</tr>
	</table>
</div>