<% content_for (:activity_nav) do %>
	<ul>
			<li><%= link_to 'Usuarios', admin_users_path %></li>
		    <li><%= link_to 'Proyectos', admin_projects_path %></li>
		    <li class="selected"><%= link_to 'Actividades', admin_activities_path %></li>
	</ul>
<% end %>

<% content_for (:action_nav) do %>
	<ul>
		<li class="selected2"><%= link_to 'Nueva actividad', :action => 'new' %></li>
	</ul>
<% end %>

<div class="top">
	<% if !@project.nil? %>
		<h3>Nueva actividad para <%= @project.name %></h3>
	<% end %>
</div>

<div class="act-form">

	<%= error_messages_for :user %>

	<% form_for @activity, :url => admin_activities_path(@activity) do |f| %>
	
		<table class="form_setting">
			<tr>
				<th>
					<label>Nombre</label>
				</th>
				<td>
					<%= f.text_field :name, :size => 40 %>
				</td>
			</tr>
			<tr>
				<th>
					<label>Descripcion</label>
				</th>
				<td>
					<%= f.text_area :description, :rows => 6 %>
				</td>
			</tr>
			<% if @project.nil? %>
				<tr>
					<th>
						<label>Proyecto</label>
					</th>
					<td>
						<%= f.select :project_id,
							@projects.collect{|proj| [proj.name, proj.id]},
		    				:prompt => "Selecciona un proyecto",
		    				:selected => nil
						%>
					</td>
				</tr>
			<% else %>
	  			<%= f.hidden_field :project_id, :value => @project.id %>
	  		<% end %>
	  	</table>
	  	<p class="btns">
	  		<%= f.submit "Añadir actividad", :class => "submit" %>
	  	</p>	
	<% end %>
</div>