<% content_for (:activity_nav) do %>
	<ul>
			<li><%= link_to 'Usuarios', admin_users_path %></li>
			<li><%= link_to 'Proyectos', admin_projects_path %></li>
			<li class="selected"><%= link_to 'Actividades', admin_activities_path %></li>
			<% if @user_logged.has_role?('admin') %>
				<li><%= link_to 'Permisos', :controller => 'users', :action => 'permissions' %></li>
			<% end %>
	</ul>
<% end %>

<div class="top">
	<h3><%= @activity.name %></h3>
</div>

<div class="course-form">
	<table class="form_setting">
		<tr>
			<th>
				<label>Nombre</label>
			</th> 
			<td>
				<%= @activity.name %>
			</td> 
		</tr>
		<tr>
			<th>
				<label>Descripcion</label>
			<td>
				<%= @activity.description %>
			</td>
		</tr>
		<tr>
			<th>
				<label>Proyecto</label>
			</th>
			<td>
				<%= @activity.project.name %>
			</td>
		</tr>
	</table>
</div>