<% content_for (:activity_nav) do %>
	<ul>
			<li><%= link_to 'Usuarios', admin_users_path %></li>
			<li><%= link_to 'Proyectos', admin_projects_path %></li>
			<li class="selected"><%= link_to 'Actividades', admin_activities_path %></li>
	</ul>
<% end %>
<% content_for (:action_nav) do %>
	<ul>
		<li><%= link_to 'Nueva actividad', new_admin_activity_path %></li>
	</ul>
<% end %>

<div class="top">
	<h3><%= @activity.name %></h3>
</div>

<div class="course-form">
	<table class="form_setting">
		<tr>
			<th>
				<label>Nombre</label>
			</th> 
			<td>
				<%= @activity.name %>
			</td> 
		</tr>
		<tr>
			<th>
				<label>Descripcion</label>
			<td>
				<%= @activity.description %>
			</td>
		</tr>
		<tr>
			<th>
				<label>Proyecto</label>
			</th>
			<td>
				<%= link_to @activity.project.name, admin_activity_path(@activity) %>
			</td>
		</tr>
	</table>
</div>